---
layout: free-trial
title: Try GitLab for free
description: "Enjoy a free 30-day trial of GitLab and experience the full software development lifecycle & DevOps tool with an extensive range of innovative features!"
canonical_path: "/free-trial/"
disable_default_styles: true
disable_handbook_styles: true
extra_css:
  - free-trial.css
---

.container.container2020
  .headline-container
    .col-md-5
      %h1
        Get started with GitLab
    .col-md-7
      %h2
        Free for 30 days
      %p
        GitLab is more than just source code management or CI/CD. It is an open DevOps platform that transforms software delivery, teams, and organizations.
      %a{ "href": "https://gitlab.com/-/trial_registrations/new?glm_source=about.gitlab.com&glm_content=free-trial", "onclick": "dataLayer.push({'event': 'saas-trial-click'});" }
        Start free trial →
 
.container.container2020.offerings-section
  %h3.question
    How do you want to try GitLab?

  .offerings.text-center
    .col-md-6.col-sm-6.gitlab-saas
      .gitlab-offering
        .gitlab-type-image-container
          = partial "includes/icons/free-trial-cloud.svg"
        %h4.title
          GitLab.com
        %p.description
          SaaS offering hosted by GitLab
        %p.text
          Sign up and get started quickly. Accessed via a web browser, no installation is necessary.
        %a.btn.cta-btn.orange-light.margin-top20.start-trial{ "href": "https://gitlab.com/-/trial_registrations/new?glm_source=about.gitlab.com&glm_content=free-trial", "onclick": "dataLayer.push({'event': 'saas-trial-click'});" } 
          Start free trial 
    .col-md-6.col-sm-6
      .gitlab-offering
        .gitlab-type-image-container
          = partial "includes/icons/free-trial-self-managed.svg"
        %h4.title
          GitLab Self-Managed
        %p.description
          Host your own instance on-premises or in the cloud
        %p.text
          Download and install on your own infrastructure or in our public cloud environment.
        %a.btn.cta-btn.lavender.margin-top20.start-trial{ href: "./self-managed/" }
          Start free trial

.grey-background
  .container.container2020.features-customers
    = partial "includes/free-trial/features"
    .customers
      %p
        Trusted by enterprises, loved by developers
      .customer-logos-container-color
        %a{ href: "/customers/goldman-sachs/" }
          = image_tag "/images/customers/logo_goldman_sachs-color.svg", alt: "Goldman Sachs logo", loading: "lazy", class: "intro-organization-logo"
        %a{ href: "/blog/2018/12/18/contributor-post-siemens/" }
          = image_tag "/images/organizations/logo_siemens_color.svg", alt: "Siemens logo", loading: "lazy", class: "intro-organization-logo"
        %a{ href: "/customers/uw/" }
          = image_tag "/images/case_study_logos/uw-logo.svg", alt: "University of Washington logo", loading: "lazy", class: "intro-organization-logo"
        %a{ href: "/blog/2019/01/16/wag-labs-blog-post/" }
          = image_tag "/images/customers/logo_wag-color.svg", alt: "Wag logo", loading: "lazy", class: "intro-organization-logo"
        %a{ href: "/customers/wish/" }
          = image_tag "/images/case_study_logos/WishLogo.svg", alt: "Wish logo", loading: "lazy", class: "intro-organization-logo", style: "fill: pink;"
        %a{ href: "/customers/worldline/" }
          = image_tag "/images/case_study_logos/worldline-logo.svg", alt: "Worldline logo", loading: "lazy", class: "intro-organization-logo"
        %a{ href: "/customers/equinix/" }
          = image_tag "/images/organizations/logo_equinix_2_color.svg", alt: "Equinix logo", loading: "lazy", class: "intro-organization-logo"


.container.container2020
  .text-center
    .col-md-12
      %h2.get-started-block
        Not sure?
    .col-md-12
      %h4
        We will host while you explore.
    %a.btn.cta-btn.orange-light{ "href": "https://gitlab.com/-/trial_registrations/new?glm_source=about.gitlab.com&glm_content=free-trial", "onclick": "dataLayer.push({'event': 'saas-trial-click'});" } 
      Get started
    %a.btn.cta-btn.lavender{ :href => "/sales/", :title => "contact Sales" } 
      Contact sales


= partial "includes/layout/footer-blank"
