!!! 5
%html{lang: "en"}
  %head
    = partial "includes/layout/head"
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/stylesheets/solutions-v3.css"}
  %body{data: {spy: "scroll", target: ".qnav"}}
    = partial "includes/google/gtm"
    = partial "includes/layout/header"
    = partial "includes/layout/headline"
    .wrapper
      .container
        = yield
    = partial "includes/trial-cta"
    = partial "includes/layout/footer"
