<section>
  <div class="slp-commit-grid slpEventHeader slp-mb-64 md:slp-mb-132" style="background-image: url('<%= event.header.background %>');">
    <% if event.header.video_id || event.header.image_source %>
      <div class="slpEventHeader__text slp-col-start-1 slp-col-span-full md:slp-col-span-4">
    <% else %>
      <div class="slpEventHeader__text slp-col-start-1 slp-col-span-full md:slp-col-span-9">
    <% end %>
      <p class="slp-font-normal slp-text-xl md:slp-text-3xl slp-text-grayscale-333 slp-leading-tight">
        <%= event.header.event_name %>
      </p>
      <h1 class="slp-font-normal slp-text-5xl md:slp-text-6xl slp-text-grayscale-333 slp-leading-none slp-mb-24 md:slp-mb-32">
        <%= event.header.heading %>
      </h1>
      <p class="slp-font-normal slp-text-md md:slp-text-xl slp-text-grayscale-333 slp-leading-tight slp-mb-24 md:slp-mb-8">
        <%= event.header.date %>, <%= event.header.location %>
      </p>
      <button href="<%= event.header.cta_link %>" class="slpEventHeader__button slp-btn slp-btn--secondary slp-col-span-full slp-min-w-full sm:slp-min-w-min md:slp-col-start-1 md:slp-w-max">
        <%= event.header.cta_text %>
      </button>
    </div>
  <% if event.header.video_id %>
    <div class="slpEventHeader__feature slp-col-start-1 slp-col-span-full md:slp-col-start-6 md:slp-col-span-5 slp-flex slp-justify-center slp-items-center slp-w-full">
      <div class="slpEventHeader__videoContainer">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube-nocookie.com/embed/<%= event.header.video_id %>"
          frameborder="0"
          data-cookieconsent="ignore"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  <% end %> 
  <% if event.header.image_source %>
    <div class="slpEventHeader__feature slp-col-start-1 slp-col-span-full md:slp-col-start-6 md:slp-col-span-5 slp-flex slp-justify-center slp-items-center slp-w-full">
      <img src="<%=event.header.image_source %>" alt="<%=event.header.image_alt %>" />
    </div>
  <% end %>  
  </div>
</section>

<script data-cookieconsent="ignore"></script>
