<div class="slp-relative">
  <div
    class="slp-rounded-full slp-max-w-min slp-bg-grayscale-highlight md:slp-absolute md:slp-top-0 md:slp--left-6 md:slp-transform md:slp--translate-x-full md:slp-translate-y-1/4 slp-p-9"
  >
    <%= inline_svg "#{icon}", class: "" %>
  </div>
  <h2
    class="slp-font-normal slp-text-grayscale-333 slp-text-3xl md:slp-text-4xl slp-leading-tight slp-mb-16 slp-max-w-3xl slp-col-span-full"
  >
    <%= heading %>
  </h2>
</div>

